<template>
    <div>
        <nav class="navbar blue-grey darken-3">
            <div class="nav-wrapper">
                <div class="navbar-left">
                <a href="#" @click.prevent="$emit('click')">
                    <i class="material-icons text-gray">dehaze</i>
                </a>
                <span class="text-gray">{{ date | date('datetime') }}</span>
                </div>

                <ul class="right hide-on-small-and-down">
                <li>
                    <a
                        class="dropdown-trigger text-gray"
                        href="#"
                        data-target="dropdown"
                        ref="dropdown"
                    >
                    USER NAME
                    <i class="material-icons right">arrow_drop_down</i>
                    </a>

                    <ul id='dropdown' class='dropdown-content'>
                    <li>
                        <router-link to="/profile" class="text-dark-gray">
                            <i class="material-icons">account_circle</i>Профиль
                        </router-link>
                    </li>
                    <li class="divider" tabindex="-1"></li>
                    <li>
                        <a href="#" class="text-dark-gray" @click.prevent="logout">
                            <i class="material-icons">assignment_return</i>Выйти
                        </a>
                    </li>
                    </ul>
                </li>
                </ul>
            </div>
        </nav>
    </div>
</template>

<script>
export default {
    data: () => ({
        date: new Date(),
        interval:null,
        dropdown:null
    }),
    methods:{
        logout(){
            console.log('Logout');
            this.$router.push('/login?message=logout');
        }
    },
    mounted(){
        
        this.interval = setInterval(()=>{
            this.date = new Date()
        }, 1000),

        this.dropdown = M.Dropdown.init(this.$refs.dropdown, {
            constrainWidth: false
        });
    },
    beforeDestroy(){
        clearInterval(this.interval);

        if(this.dropdown && this.dropdown.destroy){
            this.dropdown.destroy()
        }
    }
}
</script>