<template>
    <div>
        <ul class="sidenav app-sidenav" :class="{open:value}">
            <router-link tag="li" active-class="active" :to="link.url" exact v-for="link in links" :key="link.url">
                <a href="#" class="waves-effect waves-dark-gray pointer">{{link.title}}</a>
            </router-link>
        </ul>
    </div>
</template>

<script>
export default {
    props: ['value'],
    data: ()=>({
        links:[
            {title:'Счет', url: '/'},
            {title:'История', url: '/history'},
            {title:'Планирование', url: '/planning'},
            {title:'Новая запись', url: '/record'},
            {title:'Категории', url: '/categories'},
        ]
    })
}
</script>